body {
    font-family: "Ubuntu, serif";
 }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      

.hero {
  background-image: url("https://previews.123rf.com/images/karidesign/karidesign1605/karidesign160500026/56077700-gray-stone-background.jpg");
} 

.navbar{
    border-bottom: 5px solid black;
}
 .card {
     margin: 15%;
 }

 .card button:hover {
     box-shadow: 2px solid rgb(59, 59, 59);
 }

 .title {
    color: black;
 }

.navbar {
  border-bottom: 2px solid black;
  background-color: white;
}


.card {
  margin: 15%;
  border-radius: 30px;
}

.posterScr {
    width: 128px 128px;
}

