/*-----Element Selectors----- */
body {
  font-family: "Ubuntu, serif";
  background-image: url("../images/graystone.jpg");
  background-repeat: cover;
  background-position: top center;
  line-height: 1.5;
}
main {
  font-family: "Montserrat", sans-serif;
}
iframe {
  padding: 20px;
  display: flex;
}

/* Stops Bulma from making padding huge may need to just use our own */
footer {
  border-top: 2px solid black;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25px;
  min-width: 100vw;
  padding-top: 5px;
}

a {
  justify-content: center;
	font-weight: bold;
}

/*-----Class Selectors----- */

.navbar {
  border-bottom: 2px solid black;
  background-color: white;
}
/* General placement of things */
.searchBar {
  margin-top: 85px;
}
.searchHistory {
  margin-top: 15px;
}
.hero .landingCard {
  margin-top: 115px;
}

/* controls the size of the card using margin at the moment */
.card {
  flex-direction: column;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
}
/* The holder for the image figure */
.card-image {
  justify-content: center;
}
/* The actual image element */
.posterSrc {
  box-shadow: -12px 10px 5px 0px rgba(0, 0, 0, 0.2);
}
.posterSrc:hover {
	box-shadow: inset 0px 0px 8px rgb(0, 26, 255),
	0 0 15px rgb(0, 26, 255);
}

.toolTip .toolTipText {
  visibility: hidden;
  width: 150px;
	font-size: 25px;
  background-color: tomato;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
	top: -10px;
	left: 30%;
}
.toolTip:hover .toolTipText {
  visibility: visible;
}

.mainCardCont {
  background-color: white;
  box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777,
    0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333,
    -6px 8px 74px 7px #000000;
}

/* This applies weight to the card title,
	 center wont work in class due to Bulma making it display:flex */
.card-header {
  font-weight: bold;
  display: block;
  padding-bottom: 15px;
  text-shadow: 0px -3px 1px #fff, 1px 1px 1px #000;
  color: black;
  /* override bulmas box-shadow */
  box-shadow: none;
}

/* Controls the input box size */
.input {
  width: 50vw;
}
/* Overrides Bulma yet again */
.column .level {
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.movieRating {
	font-weight: bolder;
}

/* Text for the cards font size set by bulma class */
.movieText {
	font-size: 10px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
	font-weight: 600;
}
/* Link for wiki font size set by bulma in class cant get center to work */
.wikiLink {
  text-align: center;
}

/* This is needed for the flex YT embed */
.video-container {
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
	box-shadow: 0px 5px 17px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* This is needed for the flex YT embed */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -----May not need I hope -----*/
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
